<%= form_for(@weight,html: {role: "form"}) do |f| %>

	<% if @weight.errors.any? %>
		<div class="alert alert-danger">
			<div id="error_explanation">
				<strong>
					<%= pluralize(@weight.errors.count, "error") %>
					prohibited this weight from being saved:
				</strong>

				<ul>
					<% @weight.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-sm-offset-2 col-xs-12 col-sm-8">
		  <div class="panel panel-default">
		    <div class="panel-heading">Edit Weight</div>
		    <div class="panel-body">

		    	<div class="row">
			    	<div class="col-sm-5 col-xs-5">
						<%= f.text_field :weight_lbs, class:'text-right col-xs-8 col-md-6 col-sm-9' %>
						<span class="col-xs-1">lbs</span>
			    	</div>

			    	<div class="col-xs-2">
			    		on
			    	</div>

			    	<div class="col-sm-5 col-xs-5">
						<%= text_field_tag(:date_weightedDisplay,@weight.date_weighted.strftime("%d/%m/%y") , class:'datepicker col-xs-10 col-sm-11 col-md-10 col-lg-8',:maxlength => 8) %>
						<em class="date_format_tooltip">format: dd/mm/yy</em>

						<%= f.hidden_field :date_weighted, class:'datepicker-alt' %>
			    	</div>
		    	</div>
		    	<div class="margin_top">
		    		<hr class="margin_top" />
		    	</div>
		    	<div class="row">
		    		<div class="form-group col-xs-12">
			    		<%= f.label :note, "Note:" %>
			    		<%= f.text_area :note, class:'form-control' %>
		    		</div>
		    	</div>

		    </div> <!-- end Panel Body -->
		    <div class="panel-footer">
				<div class="actions text-center">
		    		<%= link_to :Cancel, weights_path %>
		    		<%= f.submit 'Save', :class => 'margin_left btn btn-default' %>
				</div>
		    </div>
		  </div> <!-- end Panel  -->
		</div> <!-- end col -->
	</div> <!-- end row -->

<% end %>
