
<div class="well margin_top">
	<div class="row">

		<div class="col-md-3">
			<div class="text-center">
				<%= image_tag("unknown_user.png", class: "img-circle") %>
			</div>
			
			<div>
				<h3><%= @user.username %></h3>

				<% if @user.weights.count > 0 %>

					<table class='table'>
						<thead>
							<tr>
								<th>Date</th>
								<th>lbs</th>
							</tr>
						</thead>
						<tbody>
							<% @user.weights.public_only.limit(4).each do |weight| %>
								<tr>
									<td><%= weight.date_weighted.strftime("%d %b %y") %></td>
									<td><%= weight.weight_lbs %></td>
								</tr>
							<% end %>
						</tbody>
					</table>

				<% else %>
					<p><%= @user.username %> has not shared any records yet</p>
				<% end %>

			</div>
		</div>

		<div class="col-md-9">
	      <%= content_tag "div", id: "js-main-graph", data: {url: @graphURL} do %>
	        Loading graph...
	      <% end %>
		</div>

	</div>
</div>